<% content_for :title, "New channel" %>

<div class="md:w-300 w-300 mx-auto mt-4 mb-2 p-4 bg-gray-800 rounded-lg shadow text-gray-100">
  <%= link_to "<", @channel, class: "text-center sm:mt-0 sm:ml-2 rounded-md px-3.5 py-3.5 bg-gray-800 hover:underline inline-block font-medium text-gray-100" %>

  <h1 class="font-bold text-4xl text-gray-100 inline-block">New channel</h1>

  <%= render "form", channel: @channel %>

</div>
